.App {
  text-align: center;
}

.App-header {
  background-color: #f0ebe6;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(167, 186, 216);
}

.artwork-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.header-nav {
  display: flex;
}

.header-link {
  text-decoration: none;
  color: rgb(120, 141, 175);
  margin-left: auto; 
  margin-right: 10pc;
  padding: 10px;
  font-size: 1rem;
  transition: color 0.3s;
}

.header-link:hover {
  color: rgb(126, 150, 187);
}

