.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* header */
.header {
  background-color: #f0ebe6;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(167, 186, 216);
  padding: 10px;
  width: 100%;
}

/* nav */
.header-nav {
  display: flex;
  gap: 10px;
}

.header-link {
  text-decoration: none;
  color: rgb(120, 141, 175);
  padding: 10px 20px;
  font-size: 1rem;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 5px;
  border: 2px solid transparent;
}

.header-link:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(126, 150, 187);
  border: 2px solid rgb(120, 141, 175);
}

/* search form */
.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0;
}

.search-input {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 250px;
}

.sort-select {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.search-button {
  background-color: rgb(120, 141, 175);
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.search-button:hover {
  background-color: rgb(100, 120, 160);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* gallery */
.gallery-container {
  padding: 1em;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
  padding: 16px;
  margin-top: 20px;
}

.gallery-item {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.gallery-image {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
}

.cursor-pointer {
  cursor: pointer;
}

.save-artwork-button {
  background-color: #99abc9;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
}

/* modal */
.no-scroll {
  overflow: hidden;
}

.modal-fullwidth { 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: #5b5b6642;
}

.modal-container {
  position: fixed;
  left: 25%;
  top: 15%;
  width: 50%;
  max-height: 70%;
  overflow: auto;
  background-color: #c1cde0;
  border-radius: 5px;
  box-shadow: 2px 4px 10px #6f6f74;
}

.modal-body,
.remove-button-row {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  text-align: left;
}

.modal-body > img {
  width: 45%;
  border-radius: 5px;
  box-shadow: 1px 2px 5px #6f6f74;
}

.modal-text {
  width: 50%;
  margin-left: 1em;
}

.border-bottom {
  border-bottom: 1px solid #7f8b9e;
}

/* knappar i modal */
.close-button-row {
  width: 100%;
  margin: 1em 1em 0 -1em;
}

.close-button {
  float: right;
}

.remove-button-row {
  padding-top: 0;
}
.remove-button-row > button {
  background-color: #b65151;
  transition: 0.3s;
  color: #fff;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
}
.remove-button-row > button:hover {
  background-color: #a34747;
  transition: 0.3s;
}

/* mobile: 600px */
@media only screen and (max-width: 600px) {
  .modal-container {
    position: fixed;
    left: 5%;
    top: 20%;
    width: 90%;
  }

  .modal-body,
  .remove-button {
    flex-direction: column;
    text-align: center;
  }

  .modal-body > img {
    width: 100%;
    margin-bottom: 0.5em;
  }

  .modal-text {
    width: 100%;
    margin-left: 0;
  }

  .close-button-row {
    width: 100%;
    margin: 1em 1em 2.5em -1em;
  }

  .remove-button-row > button {
    width: 8em;
    margin: 0 auto;
  }
}
